.student-dashboard{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    margin: 5% 0;
}

.student-dashboard img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.student-dashboard h1,
.student-dashboard h2, 
.student-dashboard h3{
    margin: 0;
}

.student-dashboard-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}



.student-dashboard-buttons{
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.student-dashboard-buttons a{
    text-decoration: none;
    text-align: center;
    font-size: 24px;
}

.student-dashboard-buttons a div{
    width: 96px;
    height: 96px;
}

.student-profile-logo{
    height: 150px;
    width: 150px;
    border: 1px solid black;
    border-radius: 50%;
}
